/*---Layout---*/
.canvas {
  display: grid;
  grid-template-columns: repeat(16, auto);
  width: 960px;
  height: 960px;
}

/*---Style---*/
.square {
   height:58px;
   width:58px;
   background-color:white;
   border: 1px solid black;
}

.canvas {
  border: 4px solid blue;
}
