/*---Layout---*/
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.grid {
  display: grid;
  width: 50%;
  height: 500px;
  margin: 2%;
      margin-left: 25%;
}

/*---Style---*/
body {
  background-color: lightblue;
}
.gridItem {
/*  background-color: rgb(255,255,255); */
   border: 1px solid black;
}

.grid {
  border: 4px solid black;
}
